<html>
 <body>

<form   method="POST">
<input type="text" name="text" placeholder="username"><br><br>
<input type="number"  name="number" placeholder="class">

<br>
<br>
<button>submitnow</button>

</form>



    </body>
</html>